<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Corona_info</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Contagion</a></li>
        <li><a href="#"></a>Symptoms</li>
        <li><a href="#"></a>Prevention</li>
        <li><a href="#"></a>Dashboard</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
  <h3 style="color:rgb(252, 101, 0)"><b>COVID-19 Alert</b></h3>
  <h1 style="color:green"><b>Stay at Home.<br> Quarantine to stop coronavirus.</b></h1>
<h4 class="text-left">There is no specific treatment to prevent or treat coronavirus disease(COVID-19). The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads.</h4>
<div  class="text-right"><h3 style="color:rgb(252, 71, 0)"><b>What is COVID-19?</b></h3>
  <h1 style="color:green"><b>Coronavirus</b></h1>
  <blockquote>
  <p>The disease caused by the novel coronavirus first identified in Wuhan, China, has been named coronavirus disease 2019 (COVID-19) – ‘CO’ stands for corona, ‘VI’ for virus, and ‘D’ for disease. Formerly, this disease was referred to as ‘2019 novel coronavirus’ or ‘2019-nCoV.’ The COVID-19 virus is a new virus linked to the same family of viruses as Severe Acute Respiratory Syndrome (SARS) and some types of common cold.</p></blockquote></div>
  <div class="text-center">
    <h1 style="color:green"><b>Contagion</b></h1>
  <p>People who are infected often have symptoms of illness. Some people without symptoms may be able to spread virus.</p></div>
  <div class="text-center">
<h1 style="color:green"><b>Symptoms</b></h1>
  <h4>People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness..  </h4></div>
  <div class="text-center">
    <h1 style="color:green"><b>Prevention</b></h1>
  <h4>There is currently no vaccine to prevent COVID-19. The best way to prevent illness is to avoid being exposed to this virus.</h4></div>
  <h1 style="color:green"><b>Wear Masks</b></h1>
  <h4>Everyone should wear a cloth face cover when they have to go out in public, for example to the grocery store or to pick up other necessities. Cloth face coverings should not be placed on young children under age 2, anyone who has trouble breathing, or is unconscious, incapacitated or otherwise unable to remove the mask without assistance. The cloth face cover is meant to protect other people in case you are infected. Do NOT use a facemask meant for a healthcare worker.</h4>
  <h1 style="color:green"><b>Wash Your Hands</b></h1>
  <h4>Wash your hands often with soap and water for at least 20 seconds especially after you have been in a public place, or after blowing your nose, coughing, or sneezing. If soap and water are not readily available, use a hand sanitizer that contains at least 60% alcohol. Cover all surfaces of your hands and rub them together until they feel dry. Avoid touching your eyes, nose, and mouth with unwashed hands.</h4>
  <h1 style="color:green"><b>Use Nose Rag or Tissue</b></h1>
  <h4>If you are in a private setting and do not have on your cloth face covering, remember to always cover your mouth and nose with a tissue when you cough or sneeze or use the inside of your elbow. Throw used tissues in the trash. Immediately wash your hands with soap and water for at least 20 seconds. If soap and water are not readily available, clean your hands with a hand sanitizer that contains at least 60% alcohol.</h4>
  <h1 style="color:green"><b>Avoid Contact</b></h1>
  <h4>Avoid close contact with people who are sick, even inside your home. If possible, maintain 6 feet between the person who is sick and other household members. Put distance between yourself and other people outside of your home. Remember that some people without symptoms may be able to spread virus. Stay at least 6 feet (about 2 arms’ length) from other people. Do not gather in groups. Stay out of crowded places and avoid mass gatherings. Keeping distance from others is especially important for people who are at higher risk of getting very sick.</h4>
  <app-coronatable></app-coronatable>
  <router-outlet></router-outlet>